<div>
  <!--seccion de navegacion,navbar (barra de navegación simple)-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="nav-link navbar-brand" routerLink="/home">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class=" nav-link btn btn-dark btn-outline-primary" routerLink="/historia">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark btn-outline-primary" routerLink="/quejas">Quejas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark btn-outline-primary" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<br>
